@import "variables.scss";

.header {
  background-color: $color-grey;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: $unit * 7;
  &__item {
    background-color: $color_secondary;
    padding: $unit;
    margin-left: $unit;
    border-radius: $border-radius;
    cursor: pointer;
  }

  &__item:hover {
    background-color: $color_primary;
    opacity: 0.7;
  }
}
