* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

.navigation,
.products-list,
.news {
  min-height: 200px;
  display: flex;
  flex: 1 1 auto;
}

.navigation {
  background-color: #ff7f50;
}

.products-list {
  background-color: #006400;
}

.news {
  background-color: #0ff;
}

span {
  background-color: #faebd7;
  padding: 8px;
  border-radius: 4px;
  text-transform: lowercase;
  margin: auto;
}

@media screen and (min-width: 600px) {
  .nav-products {
    display: flex;
    flex: 2 1 0;
  }
}

@media screen and (min-width: 900px) {
  .content {
    display: flex;
    flex: 1 1 0;
  }
}
